@font-face {
    font-family: "lato";
    src: url("../font/Lato-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "lato", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    position: fixed;
    width: 100vw;
}
header ul{
    display: flex;
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: grey;
    padding: .5rem;
    transition : all .3s;

}
header a:hover{
    background-color: blue;
}
#imgHeader{
    height: 45vh;
    background-image: url("../img/parallax1.jpg");
    background-position: 50% -200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}